{% load mptt_tags %}

<dl id="comments">
  {% recursetree comment_list %}
    <dt id="c{{ node.id }}" style="font-size: 14px; color: #aaa">
      {{ node.submit_date | timesince }} ago by {{ node.name }} <a
      href="{% url 'mptt_comments_reply' node.pk %}">reply</a>
    </dt>
    <dd>
      <p>{{ node.comment_html|safe }}</p>
    </dd>
    {% if not node.is_leaf_node %}
      <dl class="children" style="margin-left: 40px">
        {{ children }}
      </dl>
    {% endif %}
  {% endrecursetree %}
</dl>
